<div class="tui-row tui-row_adaptive">
  <h3 class="tui-text_h3 tui-space_bottom-0">Current Weather</h3>
  <tui-island *ngIf="currentWeather" class="tui-col_xs-12 tui-col_s-12 tui-col_sm-12 tui-col_md-12 card tui-space_top-4 tui-space_bottom-4">
    <div class="island-header">
      <h5 class="tui-text_h5 tui-space_top-0 tui-space_bottom-2">{{ currentWeather.cityName }} | {{ currentWeather.dt | date:'EEE L/d' }}</h5>
    </div>
    <div class="island-content">
      <p class="tui-island__paragraph tui-text_body-xl tui-text_bold">
        <span class="temp">{{ currentWeather.main.temp | number:'1.0-0' }}°F</span>
        <span class="icon"><i class="fa fa-{{ currentWeather.weather.id | convertIcon }}"></i></span>
      </p>
      <p class="tui-island__paragraph">
        {{ currentWeather.weather.description }}
      </p>
      <p class="tui-island__paragraph">
        min: {{ currentWeather.main.temp_min | number:'1.0-0' }}°F / max: {{ currentWeather.main.temp_max | number:'1.0-0'}}°F
      </p>
    </div>
  </tui-island>
</div>
