<tui-root>
  <div class="tui-container tui-container_adaptive tui-container_fullwidth">
    <div class="tui-row tui-row_adaptive">
      <div class="tui-col_xs-12 tui-col_s-12 tui-col_sm-12">
        <h1 class="tui-text_h1">Weather App</h1>

        <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
          <tui-input formControlName="searchInput">
            Zip Code or City Name
          </tui-input>

          <ng-container *ngIf="weatherForm.controls.searchInput.touched && weatherForm.controls.searchInput.invalid">
            <div class="alert alert-danger tui-space_top-3 tui-text-body-m-2 tui-text_bold" role="alert">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span class="alert-text">
                    Zip Code or City Name is required
                  </span>
                </div>
              </div>
            </div>
          </ng-container>

          <button tuiButton type="submit" aria-label="search" class="tui-space_top-4 tui-space_bottom-4" [disabled]="weatherForm.invalid">
              Search
          </button>
        </form>


        ~~~~~~~~~~<br>
        <b>form debugging</b><br>
        Form Contents: {{ weatherForm.value | json }}<br>
        Form is valid: {{ weatherForm.valid }}<br>
        Form is touched: {{ weatherForm.controls.searchInput.touched }}<br>
        ~~~~~~~~~~

      </div>
    </div>

    <app-weather></app-weather>
    <app-forecast></app-forecast>
</div>
</tui-root>
