/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--tui-support-21);
  /* background-color: var(--tui-base-02); */
}
.flex {
  display: flex;
}
.flew-wrap {
  flex-wrap: wrap;
}
